**/node_modules/
/sbomfuzz/toy-rust/target
/sbomfuzz/toy-rust/target/debug
*.lock
sbomfuzz/harnessGen/generated_fuzz_harnesses/.DS_Store
sbomfuzz/harnessGen/.DS_Store
sbomfuzz/.DS_Store
.DS_Store
sbomfuzz/harnessGen/.env
sbomfuzz/.env
sbomfuzz/.env
.DS_Store
# Ignore all rustc_info.json files
**/*.rustc_info.json

# Ignore all target directories recursively
**/target/

