body {
  font-family: sans-serif;
  padding: 1em;
}
button {
  margin-left: 0.5em;
}

.md-button{
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.item{
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

.function-button {
    border: 2px solid #f9f9f9;
    border-radius: 0.5em;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0.5em;
}